@model UserApp.Web.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}
<partial name="_Notification" />
<hr />
<div class="container">
    
        <div class="text-center">
            <h1>Register</h1>
        </div>
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 pb-2">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-2">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-2">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-3">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-3">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-3 ">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <select class=" border rounded" id="CountryList">
                                <option>Select Country</option>
                            </select>
                        </div>
                        <div>
                            <select class=" border rounded" id="StateList">
                                <option>Select State</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class=" border rounded" id="CityList">
                                <option>Select City</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-md-6 offset-md-3 pb-3">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" id="address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 offset-md-3 pb-3">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <span class="control-label text-danger">@Html.ValidationMessage("Result")</span>
                <div class="col-12 col-md-6 offset-md-3">
                    <input type="submit" value="Register" class="btn btn-success form-control" />
                </div>
            </div>
        </form>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/address.js"></script>
}
